html {
  background: #212121;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  }

h1, h2, h3, h4, h5, h6 {
  margin-left: 2%;
  color: #E4E4E4;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.editor-container, .output-container {
  width: calc(50% - 20px);
  height: 75%;
  padding: 10px;
}

#editor, #output {
  height: calc(100% - 30px);
  min-width: 35vh;
  min-height: 35vh;
  padding: 15px;
  color: #E4E4E4;
  box-sizing: border-box;
}

#editor {
  border: 1px solid #E4E4E4;
  overflow: auto;
  resize: both;
}

button {
  margin-left: 2%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #4caf50, #81c784);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #388e3c, #66bb6a);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.output-box {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid #E4E4E4;
  overflow: auto;
  resize: both;
  min-width: 35vh;
  min-height: 35vh;
  width: 100%;
  height: calc(100% - 30px);
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.display-area {
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
  color: #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

.input-box {
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #E4E4E4;
  background-color: #212121;
  box-sizing: border-box;
  outline: none;
}
