<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>PY-Interp</title>
</head>
<body>
    <div class="container">
        <div class="editor-container">
            <h2>Python Code - <!--PUT PROJECT NAME HERE--> check index.html (blank)</h2>
            <div id="editor">print("Hello, World!\nThe Quick Brown Fox Jumps Over The Lazy Dog")</div>
            <br>
            <button onclick="executeCode()">Run Code</button>
        </div>
        <div class="output-container">
            <h2>Output</h2>
            <div class="output-box">
                <div class="display-area" id="output">
                    <!-- Output will appear here -->
                </div>
                <input type="text" placeholder="type here..." class="input-box" id="user-input" />
            </div>
        </div>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
